@import "tailwindcss";

@theme {
  --font-mono: "Fira Mono", monospace;
  --color-bg-1: rgba(0, 0, 0, 0.95);
  --color-text: rgba(245, 245, 245, 1);
  --color-red: rgba(223, 146, 70, 1);
  --color-blue: rgba(25, 162, 169, 1);
  --color-green: rgba(130, 168, 22, 1);
  --color-light: rgba(37, 26, 9, 1);
  --color-dock-bg-1: rgba(255, 255, 255, 0.05);
  --color-dock-bg-2: rgba(255, 255, 255, 0.03);
  --color-dock-stroke: rgba(255, 255, 255, 0.03);
  --color-black: #000;
  --color-white: #fff;
  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
  --text-sm: 12px;
  --text-base: 13px;
}

@layer base {
  html {
    background-color: var(--color-bg-1);
    color-scheme: only dark;
  }
  body {
    @apply text-text font-mono;
  }

  button {
    @apply inline-flex items-center justify-center
      rounded-[8px] px-4 py-2
      bg-blue text-white font-mono
      text-[13px] tracking-wide
      transition-all duration-150
      hover:bg-green active:scale-[0.98]
      focus:outline-none focus:ring-2 focus:ring-blue/40;
  }

  h1 {
    font-size: var(--text-base);
  }

  h2 {
    font-size: var(--text-sm);
    color: var(--color-text);
    font-family: var(--font-mono);
  }
}
